body {
  background-color: silver;
  font-size: 48px;
  font-family: sans-serif;
}

hr {
  border-color: black;
  margin: 5px;
}

.reading {
  font-size: 64px;
  font-family: monospace;
  font-weight: bold;
  white-space: pre;
}

#error {
  font-size: medium;
  color: red;
}

#log {
  font-size: medium;
  font-family: monospace;
  white-space: pre;
}
